<% layout('layouts/boilerplate')%> 
            <div class="container">
            <h1>YelpCamp</h1>
            <p class="lead"> Welcome to YelpCamp! <br> Jump right in and explore our many campgrounds. <br>
                Feel free to share some of your own and comment on others!</p>
                <div class="row justify-content-center">
            <a href="/campgrounds" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white col-6">View
                Campgrounds</a>
            </div>
        </div>
