<% layout('layouts/boilerplate')%> 
    <h1>Edit!</h1>
    <form action="/campgrounds/<%= foundCamp._id %>?_method=PUT" method="post">
        <div>
            <label for="title">Title</label>
            <input type="text" name="campground[title]" id="title" value="<%= foundCamp.title %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" name="campground[location]" id="location" value="<%= foundCamp.location %>">
        </div>
        <button>Edit</button>
    </form>
    <a href="/campgrounds/<%= foundCamp._id %>">Return</a>
